:root {
    --color_dark: #212529;
    --sidebar_width: 16rem;
    --footer_height: 10rem;
}

body {
    display: grid;
    grid-template-rows: auto var(--footer_height);
    grid-template-areas: "main"
                         "footer";
}

#main-doc{
    max-width: 90vw;
    margin: 2rem 0 5rem 0;
    justify-self: center;
    grid-area: main;
 }

.container__sidebar{
    display: none;
}

 footer{
    background-color: var(--color_dark);
    grid-area: footer;
    color: white;
 }

header {
    color: rgba(200,100,0,1);
    font-size: 2rem;
    font-weight: 700;
    margin-top: 2rem;
}

p,.callout{
    line-height: 1.8rem;
}

.callout {
    /* background-color: rgba(255,100,1,0.01); */
    border: 3px solid rgba(255,100,50,0.15);
    border-radius: 10px;
    padding: 2rem;
    margin: 1rem 0;
}

code {
    display:block;
    background-color: rgba(255,100,1,0.25);
    border: 2px solid rgba(0,0,0,0.05);
    border-radius: 2px;
    padding: 15px 10px;
    margin: 1rem 0;
}

pre {
    color: black;
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

/* Split the page in two columns and show the sidebar */
@media(min-width: 850px){

    body {
        grid-template-columns: var(--sidebar_width) auto;
        grid-template-rows: auto var(--footer_height);
        grid-template-areas: "sidebar main"
                             "sidebar footer";
    }

    #main-doc{
        max-width: 60vw;
        grid-column-start: 2;
    }

    .container__sidebar{
        display: flex;
        grid-area: sidebar;
    }

    #navbar{
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        position: fixed;
        width: var(--sidebar_width);
        background-color: var(--color_dark);
        border-right: 2px solid black;
        /* top:0; */
        /* bottom:0; */
        overflow: auto;
        height: 100%;
    }

    #navbar__title{
    font-size: 1.8rem;
    }

    .nav-link, #footer-link{
      transition: 0.3s ease-in-out;
    }

    .nav-link:hover, #footer-link:hover{
        transform: translateX(2.4rem) scale(1.2);
    }

    #footer-link {
        margin-bottom: 50px;
        text-decoration: none;
    }

}

@media(min-width: 1200px){
    #main-doc{
        /* max-width: 60vw; */
    }
}