:root {
    --sidebar__width: 16rem;
}

body {
    display: grid;
}

#main-doc{
    max-width: 90vw;
    margin-top: 0;
    justify-self: center;
    padding-bottom: 10rem;
    padding-top: 2rem;
 }

.container__sidebar{
    height: 100%;
    position: fixed;
    width: var(--sidebar__width);
    background-color: #212529;
    display: none;
    border-right: 2px solid black;
}

#navbar__title{
font-size: 1.8rem;
}

.nav-link{
  transition: 0.3s ease-in-out;
  padding-left: 100rem;
}

.nav-link:hover{
    transform: translateX(2.4rem) scale(1.2);
}

header {
    color: rgba(200,100,0,1);
    font-size: 2rem;
    font-weight: 700;
    margin-top: 2rem;
}

p,.callout{
    line-height: 1.8rem;
}

.callout {
    /* background-color: rgba(255,100,1,0.01); */
    border: 3px solid rgba(255,100,50,0.15);
    border-radius: 10px;
    padding: 2rem;
    margin: 1rem 0;
}

code {
    display:block;
    background-color: rgba(255,100,1,0.25);
    border: 2px solid rgba(0,0,0,0.05);
    border-radius: 2px;
    padding: 15px 10px;
    margin: 1rem 0;
}

pre {
    color: black;
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

/* Split the page in two columns and show the sidebar */
@media(min-width: 850px){

    body {
        grid-template-columns: var(--sidebar__width) auto;
    }

    #main-doc{
        max-width: 60vw;
        grid-column-start: 2;
    }
    .container__sidebar{
        display: flex;
        overflow: auto;
        /* top:0;
        bottom:0; */
    }

    #navbar{
        width: 100%;
    }
}

@media(min-width: 1200px){
    #main-doc{
        /* max-width: 60vw; */
    }
}