:root {
    --sidebar__width: 16rem;
}

body {
    display: grid;
}

#main-doc{
    max-width: 90vw;
    margin-top: 0;
    justify-self: center;
 }

.container__sidebar{
    min-height: 100vh;
    position: fixed;
    width: var(--sidebar__width);
    background-color: #212529;
    display: none;
}

#navbar__title{
font-size: 1.8rem;
}

.nav-link{
  transition: 0.3s;
}

.nav-link:hover{
    transform: translateX(2.4rem) scale(1.2);
    /* text-shadow: 0.5px 0.5px 10px rgba(255,100,0,5); */
}

.main-section{

}

header {
    color: rgba(200,100,0,1);
    font-size: 2rem;
    font-weight: 700;
    margin-top: 1.5rem;
}

p,.callout{
    line-height: 1.6rem;
    margin: 0;
}

.callout {
    background-color: rgba(255,255,0,0.5);
    border: 2px solid brown;
    border-radius: 10px;
    padding: 20px;
}

code {
    display:block;
    background-color: rgba(255,100,1,0.3);
    border: 2px solid rgba(0,0,0,0.05);
    border-radius: 2px;
    padding: 15px 10px;
    margin: 1rem 0;
}

pre {
    color: black;
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

/* Split the page in two columns and show the sidebar */
@media(min-width: 850px){

    body {
        grid-template-columns: var(--sidebar__width) auto;
    }

    #main-doc{
        max-width: 60vw;
        grid-column-start: 2;
    }
    .container__sidebar{
        display: flex;
        /* border: 2px solid purple; */

    }

    #navbar{
        /* border: 2px solid red; */
        width: 100%;
    }

@media(min-width: 1200px){
    #main-doc{
        max-width: 70vw;
    }
}